/* Estilos para o mat-card */
.login-card {
  width: 100%;
  margin: auto;
  margin-top: auto;
  max-width: 400px; /* Limitar a largura do card */
  border-radius: 12px; /* Borda arredondada */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 20px;
}

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  overflow: hidden; 
  background-image: url('/assets/fundoLogin.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.tituloLogin{
  margin-left:auto;
}

.textoValido{
  font-size: 12px;
  background-color: green!important;
  color: white !important;;
}

.textoInvalido{
  font-size: 12px;
  background-color: red!important;
  color: white !important;;
}

.textoCadastro{
  font-size: 12px;
  background-color: rgb(0, 78, 114)!important;
  color: white !important;;
}

.ajusteDireita{
  position: absolute;
  right: 5px;
}

.ajusteEsquerda{
  position: absolute;
  left: 5px;
}

.icone_visualizar{
  position: absolute;
  right: 5px;
  font-size: 23px;
}

mat-card-title h2{
  width: 150%;
}

.tituloLogin {
  text-align: center;
  margin: 0;
  font-size: 28px; 
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  color: #000000; 
  margin-bottom: 20px;
}

/* Estilos para os botões */
button {
  width: 100%; /* Garantir que os botões ocupem toda a largura disponível */
  margin-top: 10px; /* Espaçamento entre os botões */
}

.ajusteEsquerda, .ajusteDireita {
  display: flex;
  justify-content: center;
}


mat-form-field {
  width: 100%;
}