<div class="home-container">
  <mat-card class="welcome-card">
    <h1 class="welcome-message">Bem-vindo, {{ usuario }}</h1>
    <p class="intro-text">Gerencie suas finanças com facilidade e eficiência no FinTrace!</p>
    <mat-divider></mat-divider>

    <!-- Menu com botões de navegação -->
    <div class="button-container">
      <button mat-raised-button color="primary" class="botao-transacoes" (click)="transacoes()">
        Transações
      </button>
      <button mat-raised-button color="accent" class="botao-cadastro" (click)="categorias()">
        Categorias
      </button>
      <button mat-raised-button color="warn" class="botao-sair" (click)="logout()">
        Logout
      </button>
    </div>
  </mat-card>
</div>