<div class="home-container">

  <mat-grid-list cols="12" rowHeight="60px">
    <mat-grid-tile colspan="12"></mat-grid-tile>
  </mat-grid-list>
  
  
  <mat-card class="cardCampos" appearance="outlined">
  
    <mat-grid-list cols="12" rowHeight="50px">
        <mat-grid-tile colspan="12">
          <div class="ajustetxte">
            <button mat-fab class="iconeRetorno" (click)="home()">
              <mat-icon>arrow_back</mat-icon>
            </button>
          </div>
          <div class="ajustetxtd">
            <button mat-raised-button (click)="dialogTransacao('Cadastro')" class="botaoTopo">Cadastrar Transação</button>
            <button mat-raised-button (click)="dialogTransacao('recorrente')" class="botaoTopo">Cadastrar Transação Recorrente</button>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
    
    <mat-card-header>
      <h3>Histórico de transação</h3>
    </mat-card-header>
    
    <mat-card-content>
  
      <form [formGroup]="pesquisa">
  
        <mat-grid-list cols="12" rowHeight="120px" gutterSize="10px">
  
          <mat-grid-tile colspan="3">
            <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
              <mat-label>Tipo de transação</mat-label>
              <mat-select  formControlName="transacao" >
                <mat-option *ngFor="let transacao of tipoTransacao" [value]="transacao.id"> {{ transacao.nome }} </mat-option> 
              </mat-select>
              <mat-error>Preencha o campo.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile colspan="3">
            <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
              <mat-label>Categoria</mat-label>
              <mat-select  formControlName="categoria" >
                <mat-option *ngFor="let categoria of tipoCategoria" [value]="categoria"> {{ categoria.name }} </mat-option> 
              </mat-select>
              <mat-error>Preencha o campo.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile colspan="3">
            <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
              <mat-label>Mês</mat-label>
              <mat-select  formControlName="mes" >
                <mat-option *ngFor="let mes of meses" [value]="mes"> {{ mes }} </mat-option> 
              </mat-select>
              <mat-error>Preencha o campo.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
  
          <mat-grid-tile colspan="3">
            <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
              <mat-label>Ano</mat-label>
              <mat-select  formControlName="ano" >
                <mat-option *ngFor="let ano of anos" [value]="ano"> {{ ano }} </mat-option> 
              </mat-select>
              <mat-error>Preencha o campo.</mat-error>
            </mat-form-field>
          </mat-grid-tile>
  
          <!--mat-grid-tile colspan="3">
            <mat-form-field floatLabel="always" appearance="outline" class="namebox" hideRequiredMarker="true">
              <mat-label>Data da fim</mat-label>
              <input matInput type="date" formControlName="dataFim">
              <mat-error>Preencha o campo.</mat-error>
            </mat-form-field>
          </mat-grid-tile-->
  
        </mat-grid-list>
  
        <mat-grid-list cols="12" rowHeight="40px" gutterSize="5px">
          <mat-grid-tile colspan="12">
            <div class="ajustetxte">
              <button mat-raised-button (click)="pesquisar()" class="botao-pesquisar">
                <mat-icon>search</mat-icon>
                Pesquisar
            </button>
            <button mat-raised-button (click)="resetar()" class="botao-limpaFiltro">
              <mat-icon>search_off</mat-icon>
              Remover Filtros
            </button>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
  
      </form>
      <br>
  
      
      <app-tabelaTransacoes></app-tabelaTransacoes>
  
  
  
  
    </mat-card-content>
  
    <mat-card-footer>
      <mat-grid-list cols="12" rowHeight="120px" gutterSize="10px">
  
        <mat-grid-tile colspan="1"></mat-grid-tile>
  
        <mat-grid-tile colspan="3" class="receita">
         <mat-icon>arrow_upward</mat-icon> Receita: {{service.formatarValor(obtemReceita()) }}
        </mat-grid-tile>
        
        <mat-grid-tile colspan="3" class="despesa">
          <mat-icon>arrow_downward</mat-icon> Despesa: {{service.formatarValor(obtemDespesa())}}
        </mat-grid-tile>
  
        
        <mat-grid-tile colspan="3" class={{service.obtemSaldoStatus(obtemSaldo())}}>
          <mat-icon>payments</mat-icon>Saldo: {{service.formatarValor(obtemSaldo())}}
        </mat-grid-tile>
  
        <mat-grid-tile colspan="2"></mat-grid-tile>
  
      </mat-grid-list>
    </mat-card-footer>
  </mat-card>
  
  


</div>

