h3{
  margin: auto;
  align-self: center;
}

.receita{
  color: green;
}

.despesa{
  color: red;
}

.balancoPositivo{
  color: green;
}

.balancoAlerta{
  color:goldenrod
}

.balancoNulo{
  color:rgb(0, 78, 161)
}

.balancoNegativo{
  color:red
}

.home-container{
background-image: url('/assets/fundo_telas.jpg');
background-size: cover!important;
background-position: center!important;
background-repeat: no-repeat!important;
font-family: 'Roboto', sans-serif;
}
